.header {
    background-color: #4aaaa5;
    padding: 21px;
    width: 200px;
    margin: 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 18pt;
    font-weight: bold;
    float: left;    
}

header{
    background-color: white;
    border-bottom: 2px solid rgb(5, 155, 175);
}

.hcontainer {
    width: 960px;
    margin: 0 auto;
}

body {
    background-image: url("../images/morocco.png");
}

.clearfix:after {
    content: ".";
    visibililty: hidden;
    display: block;
    height: 0;
    clear: both;
}

section {
    background: white;
    width: 960px;
    margin: 30px auto;
    padding: 20px;
    box-sizing: border-box;         
}

.subhead {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 0 0;
    font-size: 15pt;
    padding: 10px;
}

hr {
    color: #cabebe;
    margin: 10px 10px;
}

.picture {
    float: left;
    padding: 10px;
    width: 100px;
    height: 100px;    
}

.topnav {
    overflow: hidden;
    background-color: white;
    padding: 13px;
}

.topnav a {
    float: right;
    display: block;
    color: #777777;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 8pt;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }

.topnav a:hover {
    background-color: #ddd;
    color: black;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }

p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 10pt;
    margin: 20px;
    line-height: 1.5;       
} 

.copyright {
    position: absolute;
    color: #777777;
    font-size: 7pt;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}